@import "_commonFiles/_sidebar";
@import "_commonFiles/header";
@import "_commonFiles/nav";
@import "_commonFiles/header";
@import "_commonFiles/footer";
@import "_commonFiles/breadcrumbs";
$colorOrange: #ff6600;
$margTop: 20px;
* {
  margin: 0;
  font-family: Arial, Tahoma;
}
html, body {
  height: 100%;
  color: #333;
}

.wrapper {
  min-width: 800px;
  min-height: 100%;
  margin-bottom: -220px;
  background: #f4f4f4;
}
.wrapper:after {
  content: "";
  display: block;
}

.header{
  height:173px;

}
.content{
  width: 1100px;
  margin: auto;
}




.left-block{
  width: 334px;
}


.text_block{
  margin-top: $margTop;
}
.footer, .wrapper:after {
  height: 220px;
}
.footer-top {
  padding: 20px;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  columns: 200px 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;

}
.title-footer{
  padding-left: 20px;
}
p{
   padding-top: 10px;
}

@import "_commonFiles/_sprite-social-icons";
@include sprites($spritesheet-sprites);
@import "_commonFiles/_sprite-all";
@include sprites($spritesheet-sprites);

.sprite__all-footer{
  width: 100% ;
  height: 220px;
}
.sprite__social-twitter:hover{
  @include sprite($sprite-social-twitter-hover);
}


.Mobile-title{
  margin-top:20px ;
}



// Шапка закрытого аккордеона, добавляю иконку открытия
.accordion__item__title:after {
  content: "";
  display: block;
  position:absolute;
  @include sprite($sprite-all-line-arrow-up);
  right: 20px;
  top:20px;
}

// Шапка закрытого аккордеона, добавляю иконку открытия при наведении
.accordion__item__title:hover:after {

}

.accordion__item_opened .accordion__item__title:after{
  content: "";
  display: block;
  position:absolute;

  @include sprite($sprite-all-line-arrow-up);
}


.accordion__item_opened .accordion__item__title:hover:after {
  color: rgba(0,0,0,0);
}

.accordion__item_opened .accordion__item__title:hover:after {
  color: rgba(0,0,0,1);
}

.accordion__item__title {
  margin: 0;
  padding: 0;
}

/** CHECKBOX **/


input[type=radio],
input[type=checkbox] {
  display: none;
}
.radio label:before {
  content: "";
  display: inline-block;

  width: 9px;
  height: 9px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ffffff;
  border: 4px solid #dee1e4;
}
.checkbox label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #dee1e4;
}


.radio label:before {
  border-radius: 12px;
}
.checkbox label {
  margin-bottom: 10px;
}
.checkbox label:before {
  border-radius: 3px;
}

.radio input[type=radio]:checked + label:before {
  content: "\2022";
  color:$colorOrange;
  font-size: 24px;
  text-align: center;
  line-height: 10px;
  background: #ffffff;
  border: 4px solid $colorOrange;
}
.radio input[type=radio]:hover+ label:before {
  content: "\2022";
  color:$colorOrange;
  font-size: 25px;
  text-align: center;
  line-height: 10px;
  background: #ffffff;
  border: 4px solid #dee1e4;
}



.checkbox input[type=checkbox]:hover+ label:before {
  content: "\2713";
  text-shadow: 0 0 0 rgba(50, 50, 50, 50);
  font-size: 12px;
  text-align: center;
  line-height: 12px;
}
.checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 0 0 0 rgba(50, 50, 50, 50);
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 12px;
  background: $colorOrange;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
.brends__reset{
  border: none;
  background: none;
  text-decoration: underline;
  color: #5db2fc;
  cursor: pointer;
}
.list__item_color{
  display: inline-block;
  height: 37px;
  width: 37px;
}