//хлебные крошки
.breadcrumbs
	.breadcrumbs__container
		a(href="#" class="breadcrumbs__link breadcrumbs__link-homepage") Главная > 
		a(href="#" class="breadcrumbs__link breadcrumbs__link-currentpage") Каталог
.main-caption
	h1.main-caption__name Мобильные телефоны