//
   Created by evgonchar on 01.01.2016.

.nav
    ul.nav-list
        -var items =["Планшеты" , "Мобильные телефоны","Мр3 плееры","Персональные компьютеры","Ноутбуки","Аксесуары","Бытовая техника"]
        each item in items
            li( class="nav__item nav__item_"+(( item == "Мобильные телефоны") ? "active":""))
                a(href= "#").nav__item_link= item

