/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-social-fb-name: 'sprite__social-fb';
$sprite-social-fb-x: 31px;
$sprite-social-fb-y: 0px;
$sprite-social-fb-offset-x: -31px;
$sprite-social-fb-offset-y: 0px;
$sprite-social-fb-width: 26px;
$sprite-social-fb-height: 26px;
$sprite-social-fb-total-width: 57px;
$sprite-social-fb-total-height: 56px;
$sprite-social-fb-image: '../img/sprite-social-icons.png';
$sprite-social-fb: (31px, 0px, -31px, 0px, 26px, 26px, 57px, 56px, '../img/sprite-social-icons.png', 'sprite__social-fb', );
$sprite-social-twitter-hover-name: 'sprite__social-twitter-hover';
$sprite-social-twitter-hover-x: 0px;
$sprite-social-twitter-hover-y: 30px;
$sprite-social-twitter-hover-offset-x: 0px;
$sprite-social-twitter-hover-offset-y: -30px;
$sprite-social-twitter-hover-width: 26px;
$sprite-social-twitter-hover-height: 26px;
$sprite-social-twitter-hover-total-width: 57px;
$sprite-social-twitter-hover-total-height: 56px;
$sprite-social-twitter-hover-image: '../img/sprite-social-icons.png';
$sprite-social-twitter-hover: (0px, 30px, 0px, -30px, 26px, 26px, 57px, 56px, '../img/sprite-social-icons.png', 'sprite__social-twitter-hover', );
$sprite-social-twitter-name: 'sprite__social-twitter';
$sprite-social-twitter-x: 30px;
$sprite-social-twitter-y: 30px;
$sprite-social-twitter-offset-x: -30px;
$sprite-social-twitter-offset-y: -30px;
$sprite-social-twitter-width: 26px;
$sprite-social-twitter-height: 26px;
$sprite-social-twitter-total-width: 57px;
$sprite-social-twitter-total-height: 56px;
$sprite-social-twitter-image: '../img/sprite-social-icons.png';
$sprite-social-twitter: (30px, 30px, -30px, -30px, 26px, 26px, 57px, 56px, '../img/sprite-social-icons.png', 'sprite__social-twitter', );
$sprite-social-vk-name: 'sprite__social-vk';
$sprite-social-vk-x: 0px;
$sprite-social-vk-y: 0px;
$sprite-social-vk-offset-x: 0px;
$sprite-social-vk-offset-y: 0px;
$sprite-social-vk-width: 27px;
$sprite-social-vk-height: 26px;
$sprite-social-vk-total-width: 57px;
$sprite-social-vk-total-height: 56px;
$sprite-social-vk-image: '../img/sprite-social-icons.png';
$sprite-social-vk: (0px, 0px, 0px, 0px, 27px, 26px, 57px, 56px, '../img/sprite-social-icons.png', 'sprite__social-vk', );
$spritesheet-width: 57px;
$spritesheet-height: 56px;
$spritesheet-image: '../img/sprite-social-icons.png';
$spritesheet-sprites: ($sprite-social-fb, $sprite-social-twitter-hover, $sprite-social-twitter, $sprite-social-vk, );
$spritesheet: (57px, 56px, '../img/sprite-social-icons.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
