$colorOrange: #ff6600;
.breadcrumbs__item ,.breadcrumbs__list{
  list-style: none;
  display: inline-block;
  margin-top: 20px;
}
.breadcrumbs__list{
  padding-left: 0;
}
.breadcrumbs__item_active{
  display: inline-block;
}
.breadcrumbs__item_active>a{
  list-style: none;
  display: inline-block;
  color: $colorOrange;
}
.breadcrumbs__link{
  transition: color 0.3s;
  text-decoration: none;
  color: #333;
}

.breadcrumbs__link:hover{
  color: $colorOrange;
  text-decoration:underline;
}