$colorOrange: #ff6600;
.nav{
  background: #ffffff;
  width: 100%;
  text-align: center;
}

.nav-list{
  text-align: center;
  list-style: none;
  color: #333;
  display: inline-block;
}


.nav__item{
  transition: color 0.3s;
  background: #ffffff ;
  display: inline-block;
  list-style: none;
  line-height: 52px;
  font-size: 16px;
  padding-right: 20px;
  padding: 3px 8px;
  text-decoration: none;
  color: #333;

}
.nav__item_active{
  color: #FFFFFF;
  background:$colorOrange ;
}
.nav__item:last-child{
padding-right: 0px;}
//.nav__item_link:hover{
  //background: #e4e2e2;
  //color: #333;  }
//.nav__item_link:active{
  //background: $colorOrange ;
//  color: #ffffff;  }

.nav__item_link{
  display: inline-block;
  text-decoration: none;
 line-height: 52px;
 font-size: 16px;
 padding: 3px 8px;
  color:#333;
}
.nav__item:hover{
  color:#333;
  background: #e4e2e2;
}
.nav__item_active>a{
  color: #FFFFFF;
}